<div class="center hero-unit">
<% provide(:title, 'Sign up') %>
<h3>Sign up</h3>

<div class="center">
  <div id="instructions">
    <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <div class="center-btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn">Guacamole</button>
        <button type="button" class="btn">Beer</button>
        <button type="button" class="btn">Something else special</button>
      </div>

      <br>
      <%= f.submit "See you then!", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

  <h3>
    Contact
  </h3>

  <h4 id="contact">
    <p>
      Questions? Call or tweets <%= link_to "@lspray", "https://twitter.com/lspray" %></li>
    </p>
</div>